* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #2c2b3d;
  --main-color: #2f2e41;
  --highlight-color: #00bfa6;
  --text-color: #c2c2c2;
  --secondary-color: #ffffff;

  --primary-font: "JetBrains Mono", monospace;
  --text-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--text-font);
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.page {
  width: 1200px;
  margin: 0 auto;
  padding-top: 72px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 64px;

  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 28px;
  list-style: none;
}

ul li {
  min-width: 70px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

main {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  text-align: center;
}

section h1 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

span {
  color: var(--highlight-color);
  font-weight: 700;
}

section p {
  max-width: 600px;
  margin-top: 60px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;

  text-align: center;
  margin-top: 150px;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.line {
  width: 570px;
  height: 0;
  margin: 0 auto 30px;
  border: 1px solid var(--highlight-color);
}

.lock {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
